<section>
  <div class="about">
    <p>Hi THERE!</p>
    <p>I'M <span class="name">Harsha Vardhan M</span></p>
    <p class="designation">Frontend Developer</p>
    <p class="user-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aliquam molestiae veritatis odit labore obcaecati eaque! Placeat est accusamus molestiae eius blanditiis, fuga, nesciunt saepe ipsam harum aliquid at modi.
    Cum, rerum iure vero dolorem velit tempore, est, nesciunt iste facere ad modi impedit accusamus odio? Vitae illo possimus necessitatibus incidunt eum! Ad et provident quaerat atque voluptatem, voluptatibus nam!
    Illo soluta facilis hic numquam fuga? Iste perspiciatis similique, porro molestias modi incidunt accusamus eveniet minus reprehenderit neque voluptas expedita velit sapiente veniam ullam consequuntur odio repudiandae suscipit vero eius!</p>
  </div>
  <div class="photo">
    <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsnx5xsGnkq8tyqLlaEHljR7QRwV_1OUfocQ&usqp=CAU">
  </div>
</section>
<section>
    
</section>